/* RabbitCoin login page */

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* VARIABLES */

/* Custom CSS for Bootstrap dark theme */
[data-bs-theme='dark'] {
    --title-color: hsl(228, 8%, 95%) !important;
    /* Override text color */
    --text-color: hsl(228, 8%, 65%) !important;
    /* Add secondary background color */
    --secondary-bg-color: hsl(228, 15%, 15%) !important;
    /* Add primary background color */
    --primary-bg-color: hsl(228, 15%, 20%) !important;
    /* Add any other customizations */
}

/* Custom CSS for Bootstrap light theme */
[data-bs-theme='light'] {
    --title-color: hsl(0, 0%, 0%) !important;
    /* Override text color */
    --text-color: hsl(0, 0%, 0%) !important;
    /* Add secondary background color */
    --secondary-bg-color: hsl(0, 0%, 90%) !important;
    /* Add primary background color */
    --primary-bg-color: hsl(0, 0%, 80%) !important;
    /* Add any other customizations */
}


:root {
    --header-height: 1.5rem;
    /* COLOR */
    --hue: 130;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);
    /* FONT AND TYPOGRAPHY */
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /* FONT WEIGHT */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%
}

/* CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 600px);
}

.main {
    overflow: hidden;
    padding-top: calc(var(--header-height) + 2rem);
}


.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
}

    .button:hover {
        box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
    }

/* HEADER AND NAV */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--primary-bg-color);
}

.navbar {
    z-index: var(--z-tooltip);
    box-shadow: 0 .5rem 1rem hsla(0, 0%, 0%, .3);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--bigger-font-size);
}

    .nav_logo span {
        color: var(--first-color);
    }

.nav_btn {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
    background-color: var(--first-color);
    padding: .25rem .75rem;
    border-radius: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-top: .5rem;
}

    .nav_btn:hover {
        box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
    }

/* REGISTER */
.register_container {
    padding-block: 3rem;
    padding-inline: 1rem;
    border-radius: 2rem;
    background-color: var(--primary-bg-color);
    border: 2px solid var(--primary-bg-color);
    transition: border .4s;
    width: 100%;
}

    .register_container:hover {
        border: 2px solid var(--first-color);
        box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
    }

.container_fluid {
    display: flex;
}

.vh_100 {
    height: 100vh;
}

.form-control {
    background-color: var(--secondary-bg-color);
}

    .form-control:focus {
        border: 2px solid var(--first-color);
        box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
    }

    .form-check-input:checked {
        background-color: var(--first-color);
        border-color: var(--first-color);
    }

.btn-primary {
    background-color: var(--first-color) !important;
    border-color: var(--first-color) !important;
}

    .btn-primary:hover {
        background-color: var(--first-color-alt) !important;
        border-color: var(--first-color-alt) !important;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
    }

.forgot_password {
    margin-top: 2rem;
}

.first_color {
    color: var(--first-color);
}

    .first_color:hover {
        color: var(--first-color-alt);
    }

/* How It Works */

.demo_container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
}

.demo_card {
    text-align: center;
    background-color: var(--primary-bg-color);
    padding: .25rem 1.25rem;
    border-radius: 1rem;
    border: 2px solid var(--secondary-bg-color);
    transition: border .4s;
    width: 80%; 
    height: 230px;
}

.demo_icon {
    display: block;
    font-size: 4rem;
    color: var(--first-color);
    margin-bottom: .75rem;
}

.demo_title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}

.demo_card:hover {
    border: 2px solid var(--first-color);
}


/* FOOTER */
.footer {
    background-color: var(--primary-bg-color);
    padding-block: 3.5rem 2rem;
}

.footer_container {
    row-gap: 2rem;
    text-align: center;
}

.footer_title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

    .footer_title span {
        color: var(--first-color);
    }

.footer_grade {
    font-size: var(--normal-font-size);
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer_social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

    .footer_social-link:hover {
        transform: translateY(-.25rem);
    }

.footer_copy {
    font-size: var(--smaller-font-size);
    margin-top: 2rem;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(228, 8%, 35%);
    border-radius: .5rem;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: hsl(228, 8%, 45%);
    }

/* BREAKPOINTS */

/* SMALL */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }
}

/* MEDIUM */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    .nav_menu {
        width: 55%;
    }
}

/* LARGE */
@media screen and (min-width: 1023px) {
    .section {
        padding-block: 7rem 2rem;
    }

    .section_subtitle {
        font-size: var(--normal-font-size);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_close, .nav_toggle {
        display: none;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav_menu {
        width: initial;
    }

    .blur-header::after {
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px); /* safari */
    }

    .footer_container {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: initial;
    }
}

@media screen and (min-width: 1152px) {

    .container {
        margin-inline: auto;
    }

    .footer {
        padding-block: 2.5rem 2rem;
    }

    .footer_title {
        font-size: var(--bigger-font-size)
    }

    .footer_social {
        column-gap: 1.5rem;
    }

    .footer_copy {
        margin: 0;
        justify-self: flex-end;
    }
}
