@page
@model FileUploadModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/test.css">
</head>
<body>
    <svg class="d-none" xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewbox="0 0 16 16">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z">
            </path>
        </symbol>
        <symbol id="circle-half" viewbox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z">
            </path>
        </symbol>
        <symbol id="moon-stars-fill" viewbox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z">
            </path>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
            </path>
        </symbol>
        <symbol id="sun-fill" viewbox="0 0 16 16">
            <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
            </path>
        </symbol>
    </svg>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-page="About">Finances are cool! <i class="bi-emoji-sunglasses"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="Dashboard"><i class="bi-compass"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="BudgetTracker"><i class="bi bi-cash-stack"></i> Budget Tracker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-mortarboard"></i> Finacial Education</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" data-bs-theme="dark">
                    <img src="../ExampleProfile.png" alt="Avatar" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small dropdown-menu-end dropdown-menu-lg-start">
                    <li><a class="dropdown-item text-secondary" asp-page="FileUpload">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-page="Register">Login/Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button aria-expanded="false" aria-label="Toggle theme (auto)" class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" id="bd-theme" type="button">
            <svg class="bi my-1 theme-icon-active" height="1em" width="1em">
                <use href="#circle-half">
                </use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">
                Toggle theme
            </span>
        </button>
        <ul aria-labelledby="bd-theme-text" class="dropdown-menu dropdown-menu-end shadow">
            <li>
                <button aria-pressed="false" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" type="button">
                    <svg class="bi me-2 opacity-50 theme-icon" height="1em" width="1em">
                        <use href="#sun-fill">
                        </use>
                    </svg>
                    Light
                    <svg class="bi ms-auto d-none" height="1em" width="1em">
                        <use href="#check2">
                        </use>
                    </svg>
                </button>
            </li>
            <li>
                <button aria-pressed="false" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" type="button">
                    <svg class="bi me-2 opacity-50 theme-icon" height="1em" width="1em">
                        <use href="#moon-stars-fill">
                        </use>
                    </svg>
                    Dark
                    <svg class="bi ms-auto d-none" height="1em" width="1em">
                        <use href="#check2">
                        </use>
                    </svg>
                </button>
            </li>
            <li>
                <button aria-pressed="true" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" type="button">
                    <svg class="bi me-2 opacity-50 theme-icon" height="1em" width="1em">
                        <use href="#circle-half">
                        </use>
                    </svg>
                    Auto
                    <svg class="bi ms-auto d-none" height="1em" width="1em">
                        <use href="#check2">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary col-lg-2 col-md-3 col-sm-12 ">
            <a href="/" class="d-flex align-items-center mb-lg-3 mb-md-0  link-body-emphasis text-decoration-none">
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-sm-column mb-auto ">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16"><use href="#" /></svg>
                        File Upload
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-body-emphasis">
                        Example
                    </a>
                </li>
                <!-- <li>
                  <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                    Orders
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                    Products
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                    Customers
                  </a>
                </li> -->
            </ul>
            <hr>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="dflex align-items-center py-4">
                <div class="row g-3">
                    <form>
                        <div class="card d-flex align-items-stretch">
                            <div class="card-header">
                                <h2>Upload Images</h2>
                                <div class="server-message"></div>
                            </div>
                            <div class="card-body d-flex-column input-div">
                                <div class="p-5">
                                    Drag & drop images here or <span class="browse">Browse</span>
                                    <input type="file" class="file" multiple="multiple" accept="application/pdf, image/png, image/jpeg, image/jpg" capture>
                                </div>

                                <!-- <video autoplay></video>

                                <script>
                                    var errorCallback = function(e) {
                                    console.log('Reeeejected!', e);
                                    };

                                    // Not showing vendor prefixes.
                                    navigator.getUserMedia({video: true, audio: true}, function(localMediaStream) {
                                    var video = document.querySelector('video');
                                    video.src = window.URL.createObjectURL(localMediaStream);

                                    // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
                                    // See crbug.com/110938.
                                    video.onloadedmetadata = function(e) {
                                        // Ready to go. Do some stuff.
                                    };
                                    }, errorCallback);
                                </script> -->

                            </div>
                            </div>

                    </form>
                </div>

                <!--</div> -->
            <div class="row  mt-3">
                <form id="saved-form">
                    <div class="card d-flex align-items-stretch">
                        <div class="card-header">
                            <h3>Saved in Server</h3>
                            <button type="submit">Delete</button>
                        </div>
                        <div class="card-body d-flex-column saved-div"></div>
                        <div class="p-5"></div>
                    </div>
                </form>
            </div>

            <div class="row mt-3">
                <form id="queued-form">
                    <div class="card">
                        <div class="card-header">
                            <h3>Queued In Frontend</h3>
                            <button class="submit">Upload</button>
                        </div>
                        <div class="card-body d-flex-column queued-div"></div>
                        <div class="p-5 "></div>
                    </div>
                </form>
            </div>
    </div>

    </main>

    </div>

    <script>
        let queuedImagesArray = [],
            savedForm = document.querySelector("#saved-form"),
            queuedForm = document.querySelector("#queued-form"),
            savedDiv = document.querySelector(".saved-div"),
            queuedDiv = document.querySelector(".queued-div"),
            inputDiv = document.querySelector(".input-div"),
            input = document.querySelector(".input-div input"),
            serverMessage = document.querySelector(".server-message"),
            deleteImages = [];

        // SAVED IN SERVER IMAGES

        //QUEUED IN FRONTEND IMAGES
        input.addEventListener("change", () => {
            const files = input.files;
            for (let i = 0; i < files.length; i++) {
                queuedImagesArray.push(files[i]);
            }
            queuedForm.reset();
            displayQueuedImages();
        });

        inputDiv.addEventListener("drop", (e) => {
            e.preventDefault();
            const files = e.dataTransfer.files;
            for (let i = 0; i < files.length; i++) {
                if (!files[i].type.match("image") || files[i].type != 'application/pdf') continue;

                if (queuedImagesArray.every(image => image.name !== files[i].name)) {
                    queuedImagesArray.push(files[i]);
                }
            }
            displayQueuedImages();
        });

        function displayQueuedImages() {
            let images = "";
            queuedImagesArray.forEach((image, index) => {
                images += `
                    <img src="${URL.createObjectURL(image)}" alt="image" class="img-fit mb-2 img-thumbnail">
                    <span onclick="deleteQueuedImage(${index})">&times;</span>
                `;
            });
            queuedDiv.innerHTML = images;
        }

        function deleteQueuedImage(index) {
            queuedImagesArray.splice(index, 1);
            displayQueuedImages();
        }

        queuedForm.addEventListener("submit", (e) => {
            e.preventDefault();
            sendQueuedImagesToServer();
        });

        function sendQueuedImagesToServer() {
            const formData = new FormData(queuedForm);

            queuedImagesArray.forEach((image, index) => {
                formData.append(`file[${index}]`, image);
            });

            fetch("upload", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (response.status !== 200) throw Error(response.statusText);
                location.reload();
            })
            .catch(error => {
                serverMessage.innerHTML = error;
                serverMessage.style.cssText = "background-color: #f8d7da; color: #b71c1c";
            });
        }
    </script>


    <script src="~/js/toggle-colors.js"></script>
    <script src="~/js/toggleColorspt2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>

</html>
